/* Add your custom styles here */

body {

    background-size: cover;
    font-family: Times New Roman, sans-serif;
    background-color:#E67E22  ;
    color: #f8f9fa;
}
        header {
            color: #fff;
            background-color: #48100F ;
            text-align: center;
            padding: 10px;
        }
        h1 {
            font-size: 4em;
        }

.container {
    text-align: center;
    padding: 50px;
    font-size: 1.5em;
}

footer {
    position: absolute;
    bottom: 0;  
    width: 100%;
}
       nav a{
             color: #fff;
            font-size: 1.5em;
      }