body {
    font-family: Times New Roman, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:#E67E22 ;
    background-size: cover;
}
.login-container a{
    
}

.login-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 30px;
    width: 300px;

}

h1 {
    font-size: 24px;
    margin: 10px 0;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Add more CSS to style your login page as desired */
